<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding>
      <!--對這個程式集進行版本重新導向-->
      <dependentAssembly>
        <assemblyIdentity 
          name="NET.MST.Second.Compile"
          publicKeyToken="60c29e5f0af3e9bb">
        </assemblyIdentity>
      </dependentAssembly>
      <!--重新導向的策略-->
      <bindingRedirect oldversion="0.0.0.0-12.2.2.2"
                       newversion="12.3.0.0">
      </bindingRedirect>
      <!--指定忽略發行者策略-->
      <publisherPolicy apply="no">
      </publisherPolicy>
    </assemblyBinding>
  </runtime>
</configuration>
